<div style="display: flex;justify-content: space-between;" [formGroup]="myWatchList">
  <div style="flex: 1;">
    <h1>Market Summary</h1>
    <div *ngIf="marketSummary$ | async as marketSummary">
      <table>
        <thead>
          <td>Exchange name</td>
          <td>Price</td>
          <td></td>
        </thead>
        <tbody>
          <tr *ngFor="let summary of marketSummary.marketSummaryResponse.result">
            <td>{{ summary.fullExchangeName }}</td>
            <td>{{summary.regularMarketPrice.fmt}}</td>
            <td><button (click)="addToMyWatchList(summary)">
                Add to my watchlist
              </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="flex: 1;">
    <h1>My watch list</h1>
    <div>
      <div formArrayName="watchList">
        <table>
          <thead>
            <td>Exchange name</td>
            <td>Price</td>
            <td></td>
          </thead>
          <tbody>
            <tr *ngFor="let watchListItem of myWatchListFormArr.controls; let i = index;">
              <td>{{watchListItem.get("fullExchangeName").value}}</td>
              <td>{{watchListItem.get("regularMarketPrice").value}}</td>
              <td><button (click)="removeWatchListItem(i)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>