<mat-grid-list cols="4">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <form>
      <mat-form-field style="width: 500px;">
        <input
          type="text"
          placeholder="Search your favourite recipe"
          matInput
          [formControl]="recipeAutoComplete"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          [displayWith]="recipeDisplayValue"
          (optionSelected)="onRecipeSelect($event)"
        >
          <mat-option
            *ngFor="let recipe of recipeAutoComplete$ | async"
            [value]="recipe"
          >
            {{ recipe.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>
